
* {
	font-family: Segoe UI;
}

body {
	background-color: rgb(249, 117, 29);
	background-image: url(../images/petiteFleche.png);
	background-size: 3px;
}

#container {
	width: 77%;
	margin: auto;
	margin-top: 50px;
	min-height: 300px;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

h1 {
	padding-top: 20px;
	text-align: center;
}

#section-1 {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

#ligne-1 {
	width: 100px;
	height: 100px;
	background-color: rgb(120, 181, 28);
	cursor: pointer;
}
